<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Liste de nos fruits</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
	<div layout:fragment="contents">
		<div class="card-body">
			<div class="row mt-2 ml-1 mr-1">
				<div class="col-2"></div>
				<div class="col-8">
					<div class="card border-info">
						<div class="card-header badge badge-info text-wrap">
							<h6>Liste des fruits</h6>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped table-borderless">
									<tr>
										<!--					<th>Illustration</th>	-->
										<th>Fruit</th>
										<th>Prix au kilo</th>
										<th>Poids à l'unité</th>
										<th></th>
									</tr>
									<tr th:each="ft: ${listeFruits}">
										<!--  					<td src="C:/Users/orsys/Desktop/projet/photo/poney.jpg"></td>	 -->
										<td th:text="${ft.libelle}"></td>
										<td th:text="${ft.prix}"></td>
										<td th:text="${ft.pdsuni}"></td>
										<td><a th:href="@{/ajouterFruit(idv=${ft.id})}">Ajouter au panier</a></td>
									</tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>