<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">

<head>
<meta charset="utf-8">
<title>Produits</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<div layout:fragment="contents">
		<div class="row mt-2 ml-1 mr-1">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="card border-info">
					<div class="card-header badge badge-info text-wrap">
						<h6>Liste des activités</h6>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<form th:action="@{/user/chercherActivite}" method="post">
									<div class="input-group">
										<input type="text" name="code" class="form-control"
											placeholder="ID Activité">
										<div class="input-group-append">
											<button class="btn btn-secondary" type="submit">Ok</button>
										</div>
									</div>
								</form>
							</div>
							<div class="col-6">
								<div class="text-right">
									<p>
										<a th:href="@{/ajouteractivite}"> Ajouter activité </a>
									</p>
								</div>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped table-borderless">
									<tr>
										<th>#</th>
										<th>Nom</th>
										<th></th>
										<th></th>
									</tr>
									<tr th:each="frm: ${listeactivite}">
										<td th:text="${frm.id}"></td>
										<td th:text="${frm.nom}"></td>
										
										
										<td><a 
											th:href="@{/supprimerActivite(id=${frm.id})}"
											th:text="supprimer"
											onclick="return confirm('Etes-vous sûr de vouloir supprimer cette formation?');"></a></td>
										<td><a 
											th:href="@{/modifierActivite(id=${frm.id})}"
											th:text="modifier"></a></td>
									</tr>
								</table>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>

	</div>

</body>
</html>