<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title> Récapitulatif Réservation</title>

</head>
<body>

<div layout:fragment="contents">
<h1> <strong> Récapitulatif réservation </strong> </h1>

<p> Merci d'avoir réservé.  </p>

<p>Votre réservation au nom de <label th:text="${rese.utilisateur.getNom()}"> </label> pour le <label th:text="${rese.date}"> </label> pour la durée de la <label th:text="${rese.duree}"> </label> a été prise en compte. </p>
<p> Vous avez réservé pour <label th:text="${rese.nb_enf}"> </label>  enfant(s) et <label th:text="${rese.nb_adt}"> </label> adulte(s). </p>
<p> Vous avez choisi comme activité(s) :  <div th:each="act:${rese.activite}"> - <label th:text="${act.nom}"> </label>  </div> . </p>


</div>

</body>
</html>