<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template}">
<head>
    <meta charset="utf-8">
    <title>JavaScript</title>
    
    
    
    <style> 
    
    img{
    width : 500px;
    height: 500px;
    padding : 10px; 
}
.photo-list{
    display : flex;
    flex-wrap: wrap;
    width: 1100px;
    background-color: aliceblue;
    justify-content: space-between;
}
.photo-list li{
   margin : 10px 10px 10px 10px;
   list-style-type: none;   
}
    
    h1{
    font-family: Snell Roundhand, cursive;
    font-size: 70px;
    font-weight: 500;
}

p{
    font-family: Snell Roundhand, cursive;
    font-size: 20px;
    font-weight: 500;
}

h5{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
    font-weight: 500;
}

 .photo-list li:hover{
    background-color: silver;
} 

.photo-list li.hover{
    background-color: rgb(208, 223, 236);
}
    </style>
</head>
<body>
<div layout:fragment="contents">
    <header>
        <h1> Venez parrainez nos mascottes !</h1>


        <br><br><br>
        <p><a th:href="@{/afficheparrainage(id=${userId})}" >Gérer vos parrainages !</a></p>

        <br><br>
        <p> Vous souhaitez nous aider dans notre démarche écologique ? <br>
        Nous vous proposons de parrainer nos animaux mascottes !
        Vous pouvez les rencontrer lors de la visite de la ferme ou durant nos différents ateliers.<br>
        Grâce à l'argent de vos parrainages, nous participons à des concours animaliers qui nous permettent de nous faire connaître 
        et de partager notre démarche écologique !</p><br><br>
    </header>

    <main>
        <ul class="photo-list">
            <li><a th:href="@{/Canard}" ><img src="photos/canard.jpg"></a>
            <br><h5> &nbsp;&nbsp; Rodé, le canard !</h5></li>
            <li><a th:href="@{/Cochon}" ><img src="photos/cochon1.jpg"></a>
            <br> <h5> &nbsp;&nbsp; Maxence, le porcelet !</h5></li>
            <li><a th:href="@{/Coq}" ><img src="photos/coq.jpg"></a>
            <br> <h5> &nbsp;&nbsp; Dramane, le coq !</h5></li>
            <li><a th:href="@{/Poney}" ><img src="photos/poney.jpg"></a>
            <br> <h5> &nbsp;&nbsp; Valentin, le poney !</h5></li>
            <li><a th:href="@{/Vache}" ><img src="photos/vache.jpg"></a>
            <br> <h5> &nbsp;&nbsp; Marine, la velle !</h5></li>
            <li><a th:href="@{/Lapin}" ><img src="photos/lapin.jpg"></a>
            <br> <h5> &nbsp;&nbsp; Audrey, le lapereau !</h5></li>
            <li><a th:href="@{/Brebis}" ><img src="photos/brebis.jpg"></a>
            <br> <h5> &nbsp;&nbsp; Magaly, la brebis !</h5></li>
            
            
        </ul>
    </main>
    </div>
</body>
</html>