<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">

<head>
<meta charset="utf-8">
<title>Gestion des animaux</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<div layout:fragment="contents">
		<div class="row mt-2 ml-1 mr-1">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="card border-info">
					<div class="card-header badge badge-info text-wrap">
						<h6>Liste des Animaux</h6>
					</div>
					<div class="col-6">
						<div class="text-right">
							<p>
								<a th:href="@{/formulairereservation}"> Ajouter animal </a>
							</p>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-striped table-borderless">
							<tr>
								<th>Numéro de l'animal</th>
								<th>Nom</th>
								<th>Espece</th>
								<th></th>
								<th></th>
							</tr>
							<tr th:each="frm: ${animal}">
								<td th:text="${frm.id}"></td>
								<td th:text="${frm.nom}"></td>
								<td th:text="${frm.espece}"></td>


								<td><a th:href="@{/supprimerAnimal(id=${frm.id})}"
									th:text="supprimer"
									onclick="return confirm('Etes-vous sûr de vouloir supprimer cet animal?');"></a></td>
								<td><a th:href="@{/modifierAnimal(id=${frm.id})}"
									th:text="modifier"></a></td>
							</tr>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>


</body>
</html>