<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<meta charset="utf-8">
<title>Produits</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
<body>
	<div layout:fragment="contents">
		<div class="row mt-2 ml-1 mr-1">
			<div class="col-2"></div>
			<div class="col-8">
				<div class="card border-info">
					<div class="card-header badge badge-info text-wrap">
						<h6>Gestion</h6>
					</div>
					
							
		<p><a th:href="@{/utilisateur}"> Gestion utilisateur </a></p>
		<p><a th:href="@{/produit}"> Gestion Produit </a></p>
		<p><a th:href="@{/gestionanimal}"> Gestion Animal </a></p>
		<p><a th:href="@{/gestionReservation}"> Gestion Réservation </a></p>

	</div>
	</div>
	</div>
	</div>

</body>
</html>