<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Modification Formulaire Réservation</title>

</head>
<body>

<div layout:fragment="contents">
<h1> <strong> Formulaire de réservation </strong> </h1>

<form th:object="${res}" th:action="@{/postreservationmodif}" method="post">
    <h1>Réservation</h1>
    <p> <label> Entrez votre id : </label> <input name="nom" th:field="*{utilisateur}" type = "hidden"> </p>
    <p>  <input name="id" th:field="${res.id}" type = "text"> </p>
    
    <p> <label> Choix de la durée :</label> <br> <label> journée :</label> &nbsp<input name="temps" th:field="${res.duree}" value="journee" type = "radio" checked="checked"> &nbsp <label>journée groupe :</label>  &nbsp <input name="temps" th:field="${res.duree}" value="journee groupe" type = "radio"> 
    <br> <label> demi journée matin :</label> &nbsp<input name="temps" th:field="${res.duree}" value="demi journee matin" type = "radio"> &nbsp <label>demi journée matin  groupe :</label>  &nbsp <input name="temps" th:field="${res.duree}" value="demi journee groupe matin" type = "radio">
    <br> <label> demi journée aprés-midi :</label> &nbsp<input name="temps" th:field="${res.duree}" value="demi journee apres midi" type = "radio"> &nbsp <label>demi journée aprés-midi groupe :</label>  &nbsp <input name="temps" th:field="${res.duree}" value="demi journee groupe apresmidi" type = "radio"> </p>
    
    <p> <label> nombre d'adulte : </label> <input th:field="${res.nb_adt}"  name="nba" type = "text"> </p>
    <p> <label> nombre d'enfant : </label> <input th:field="${res.nb_enf}" name="nbe" type = "text"> </p>
    
    <p> <label> Choix de la date : </label>
    <input name="date" type = "date" th:field="${res.date}"> </p>
    
    <p> <label> Choix d'atelier (forfait demi journée 2 maximum):</label> 
    <br> <!-- <label> visite guidée :</label> <input name="atelier" th:field="${res.activite}" value="visite guidee" type = "CHECKBOX"> <br> <label> cueillette :</label> <input name="atelier" value="cueillette" th:field="${res.activite}" type = "CHECKBOX"> <br> <label> Donner de la nourriture :</label> <input name="atelier" th:field="${res.activite}" value="nourriture" type = "CHECKBOX"> <br> <label> Potager :</label> <input name="atelier" th:field="${res.activite}" value="potager" type = "CHECKBOX"> -->
      <!--<input th:each="act:${activit}" th:text="${' ' + act.getNom() + ' '}" th:field="*{activite}"  name="atelier"  th:value="${act}" type = "CHECKBOX">
-->
    <div th:each="item : ${activit}">
       <input type="checkbox" th:field="*{activite}" th:value="${item.id}"  th:text="${' ' + item.nom + ' '}" />
    </div>
    </p>
    
    <p> <input name="valider" type="submit" value="reserver"> </p>
    </form>

</div>

</body>
</html>
