<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<meta charset="utf-8">
<title>JavaScript</title>
<link rel="stylesheet" href="styles.css">
</head>
<body>
	<div layout:fragment="contents">
		<header>
			<titre1> Profitez de nos produits !</titre1>
			​ <br>
			<br>
			<br>
			<br>
			<div1> Vous trouverez sur cette page tous les produits que
			nous commercialisons : des viandes élevées à la ferme, des produits
			frais comme des oeufs, des salades, des fruits ou des légumes. </div1>
			<br>
			<br>
		</header>
		​
		<main>
			<ul class="photo-list">
				<li><a
					th:href="@{/viandes}"><img
						src="photos/viande.png" height = "150px"></a> <br>
				<ab> &nbsp;&nbsp; Nos viandes</ab></li>
				<li><a
					th:href="@{/salades}"><img
						src="photos/salade.png" height = "150px"></a> <br>
					<ab> &nbsp;&nbsp; Nos salades</ab></li>
				<li><a
					th:href="@{/fruits}"><img
						src="photos/fruit.png" height = "150px"></a> <br>
					<ab> &nbsp;&nbsp; Nos fruits</ab></li>
				<li><a
					th:href="@{/legumes}"><img
						src="photos/legume.png" height = "150px"></a> <br>
					<ab> &nbsp;&nbsp; Nos légumes</ab></li>
			</ul>
		</main>
		<script src="index.js"></script>
	</div>
</body>
</html>