<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="contents">
	<h1>Votre panier</h1>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped table-borderless">
					<tr>
						<th>#</th>
						<th>Produit</th>
						<th>Quantite</th>
						<th>Prix</th>
					</tr>
					<tr th:each="f:${listFormations}">
						<td th:text="${f.id}"></td>
						<td th:text="${f.produit}"></td>
						<td th:text="${f.quantite}"></td>
						<td th:text="${f.prix}"></td>
				</table>
				
					</tr>
				</table>
			</div>
		</div>

	</div>
</body>
</html>