<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{template}">
<head>
<meta charset="UTF-8">
<title>Présentation Réservation</title>

</head>
<body>

<div layout:fragment="contents">
<h1> <strong> Réservation </strong> </h1>
<p> Venez passer une journée ou une demi journée dans notre ferme. Plusieurs activités sont disponibles (voir <a style="font-size: 20px;" th:href="@{/presactivite}"> ici </a>). </p>

<h3> <strong> <U> Tarifs </U> </strong> </h3>

<p> Pour une journée : enfant (moins de 12 ans) : 10e <br> adulte : 8e <br> groupe (10 personnes) : 80e </p>
<p> Pour une demi journée : enfant (moins de 12 ans) : 5e <br> adulte : 4e <br> groupe (10 personnes) : 40e </p>

<p> <a style="font-size: 20px;;" th:href="@{/formulairereservation}"> Formulaire de réservation </a> </p>

<p> <a style="font-size: 20px;;" th:href="@{/gestionuserreservation(id=${userId})}"> Gérer vos réservations </a> </p>

</div>

</body>
</html>