<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>La Ferme du Bonheur</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" th:href="@{/styles/styles.css}" type="text/css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
	rel="stylesheet" type="text/css" />
</head>
<body>
	<header>
		<a th:href="@{/}"> <img class="logo"
			src="photos/logo.png" alt="logo"
			style="position: absolute; top: 5px; left: 20px; border: 0;">
		</a>
		<nav>
			<ul class="nav_links">
				<li><a th:href="@{/}">Accueil</a></li>
				<li><a th:href="@{/presentation}">Presentation</a></li>
				<li><a th:href="@{/achat}">Achat</a></li>
				<li><a th:href="@{/reservation}">Reservation</a></li>
				<li><a th:href="@{/parrainage}">Parrainage</a></li>
				<li><a th:href="@{/profil}">Mon compte</a></li>
				<li><a th:href="@{/panier}">Mon panier</a></li>
				<li><a th:href="@{/gestion}">Gestion</a></li>
			</ul>
		</nav>
		<a class="cta" href="#"><button
				style="position: absolute; top: 25px; right: 20px; border: 1;">
				<li>Se connecter</li>
			</button></a>
	</header>


	<section layout:fragment="contents"></section>


	<!-- 	<footer>
		<div class="container">
			<nav
				class="navbar fixed-bottom navbar-light flex-column flex-md-row bd-navbar border borderprimary
border-bottom-0 border-left-0 border-right-0"
				style="background-color: #e3f2fd;">
				<span class="font-weight-light mx-auto"> &copy;2020 orsys.fr.
					All rights reserved.</span>
			</nav>
		</div>
	</footer> -->
</body>

</html>