@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-image: url("images/herbe\ entete.jpg");*/
    background-color: #90EE90;
    font-family: ubuntu;
}

.img{
    width : 500px;
    height: 500px;
    padding : 10px; 
}
.photo-list{
    display : flex;
    flex-wrap: wrap;
    width: 1100px;
    background-color: aliceblue;
    justify-content: space-between;
}
.photo-list li{
   margin : 10px 10px 10px 10px;
   list-style-type: none;   
}
titre1{
    font-family: Calibri;
    font-size: 80px;
    font-weight: 800;
}

div1{
    font-family: Calibri;
    font-size: 20px;
    font-weight: 500;
}

ab{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 35px;
    font-weight: 500;
}

 .photo-list li:hover{
    background-color: silver;
} 

.photo-list li.hover{
    background-color: rgb(208, 223, 236);
}




li, a {
    font-size: 20px;
    font-weight: 500;
    color: beige;
    text-decoration: none;
}

button{
    font-size: 10px;
    font-weight: 500;
    color: beige;
    text-decoration: none;
    padding: 5px 15px;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    width : 150px;
    height: 100px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-flex;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all .25s ease 0s;
    color: darkgreen;
}

.nav_links li a:hover{
    color: darkgreen;
    background-color: beige;
    margin: -10px;
    padding: 10px;
}

.cta li:hover{
	    transition: all 1s ease 0s;
		background-color: beige;
		color: black;
		padding: 5px 15px;
		margin: -5px -15px;
}


.txt_accueil {
	resize: none;
	color: white;
	background-color: green;
	margin-left: 10px;
	padding-right: 10px;
	padding-left: 10px;
	height: 1000px;
	width: 250px; 
	}
	
.txt_pres {
	padding: 10px
}

/* .img_pres {
	height : 200px;
	padding : 10px;
}
 */